<div class="row">
  <div class="col-sm-3">
    <table>
      <thead>
        <tr>
          <th>
            Key
          </th>
          <th>
            Value
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><b>key</b></td>
          <td><b>value</b></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm-6">
    <!--
        Please use a directive here somewhere , just for fun ;)
    -->
    <table class="table table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
      </tr>
      </thead>
      <tbody>
      <tr><!-- Please make the attached/deattached visually clear -->
        <td>id (index of thing in array)</td>
        <td>Lander Van Breda</td>
        <td><a href="">Link/Unlink</a></td>
        <td><a href="">Duplicate</a></td>
      </tr>
      </tbody>
    </table>

  </div>

</div>
